.first{
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.top{
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    border: none;
    padding: 8px 25px;
    border-radius: 6px;
    transition: 0.5s;
  
  
}
.sec{
    margin-top: 10px;
}
.third{
    margin-top: 10px;
}
